*{
    margin: 0;
    padding: 0;
    font-family: 'Allerta','Abel';
    overflow: hidden;
}

/* -------------------Nav section--------------------- */

#navbarMonstera div{
    display: inline-block;
    position: relative;
    margin: 20 px 5px;
    padding: 5px;
}

/* Logo style */
#navFirst{
    position: relative;
    height: 45px;
    padding: 10px 20px;
    top: 10px;
    left: 20px;
}

/* Mid Section of Nav */
#navMid {
    position: absolute;
    margin-left: 90px;
}

#navMid h4 {
    margin: 0 40px;
    text-decoration:none;
    text-underline-offset: 0.2rem;
}

#navMid h4:hover {
    text-decoration: underline;
    cursor: pointer;
 }

/* End Section of Nav */
#navEnd{
    position: absolute;
    top: 15px;
    left: 180px;

}

#navEnd img{
    padding: 5px;
}


/* -------------------Mid section--------------------- */

#midWhole{
margin-left: 50px;
}

#midWholePart11{
    width: 800px;
}

#monstera {
    font-family: 'Allerta';
    margin-top: 50px;
    font-size: 100px;
    font-weight:bolder;
    letter-spacing: 4px;
    margin-left: 15px;
    
}

border-color: red;


#midWholePart12 div {
    display: inline-block; 
         
        
}


/* Discover button with greater than */
#midWholePart121 {
   
    height: 40px; 
    float: left;
    background-color: #418446;
    border-radius: 22px;
    margin: 10px;
    padding: 5px;
    margin-top: 60px;

}

/* Targets Discovery*/
#midWholePart122 {
    width: 50px;
    text-align: center;
    margin-bottom: 2.5px;
}


/* To change the size of arrow symbol (svg image) after Discover.
#*/
#midWholePart122 img{
    width: 10px;
    margin-right: 30px ;
    } 


/* This Css is used to bring Discover and '>' sign in a single line. Spent more than 3 hours to solve the bug. Plus used to both at the center of a button. */
#midWholePart121 div{
    position: relative;
    display:inline-block;  
    font-size: 10px;
    color: #fff;
    margin-top:3px ;
    left: 18px;
    margin-top: 6px;
    
}

/* All the items below Disovery The last part of the webpage*/
#midWholePart13 div {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top:20px;
    
}

#midWholePart13Parts {
    float: left;
    text-align: center;
    margin
}

.text {
    height: 40px;
    position: relative;
    width: 200px;
    font-size: 10px;
 
}

#midWhole{
    float: left;
}

/* Flower image */
#imgMain{
    position: absolute;
    width: 420px;
    margin-top:-450px;
    margin-left: 930px;

}


